/* TÍTULO */
.titulo-seccion {
    width: 95%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
}
.titulo-lateral {
    background-color: #d96899;
    display: block;
    padding: 22px 30px;
    text-align: center;
}
.titulo-lateral h1 {
    color: white;
    font-size: 52px;
}
.titulo-lateral p {
    color: white;
    font-size: 16px;
    margin-top: 6px;
}
/* OVERRIDE: destacado en bloque */
.noticia-principal {
    display: block;
}
.noticia-principal > img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    display: block;
}
.noticia-principal .texto-principal {
    width: 100%;
    background-color: #d96899;
    padding: 18px 20px;
}
.noticia-principal .texto-principal h3 {
    background-color: transparent;
    color: #d96899;
    width: auto;
    font-size: 15px;
    margin-bottom: 8px;
}
.noticia-principal .texto-principal h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}
.noticia-principal .texto-principal p {
    color: white;
    font-size: 16px;
}
/* ÚLTIMAS NOTICIAS */
.ultimas {
    width: 95%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
}
.ultimas h2 {
    color: #d96899;
    font-size: 40px;
    margin-bottom: 20px;
}
.fila-top {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}
.fila-top .card-grande {
    width: 50%;
}
.fila-top .card-grande img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.fila-top .card-chica {
    width: 25%;
}
.fila-top .card-chica img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.fila-bottom {
    display: flex;
    gap: 15px;
}
.fila-bottom .card {
    width: 33.33%;
}
.fila-bottom .card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}